body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

.team {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.member {
  text-align: center;
}

img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.auth-links,
.user-info {
  display: none; /* Initially hide both elements */
}
.auth-links.show,
.user-info.show {
  display: flex; /* Show elements when the 'show' class is added */
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.auth-links a,
.user-info a {
  margin-left: 15px;
}
