body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.strength-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.strength {
  color: #555;
}
